$full:100%;
$dflex:flex;
$color-gray:#ccc;
@mixin gradientColor{
  background: -webkit-linear-gradient(left, #008fff , #10beff);
  background: -o-linear-gradient(right, #008fff, #10beff);
  background: -moz-linear-gradient(right, #008fff, #10beff);
  background: linear-gradient(to right, #008fff , #10beff);
}
@mixin bor{
  content: '';
  position: absolute;
  height: 1px;
  background: rgba(255,255,255,0.5);
  width: $full;
  bottom: 0;
  left: 0;
  -webkit-transform: scaleY(.5);
  transform: scaleY(.5);
}
body,html{
  padding: 0;
  margin: 0;
  height: $full;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust:none;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
[v-cloak] {
  display: none !important;
}
a{
  text-decoration: none;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: $full;
  width: 7.5rem;
  background: #73129a;
  color: #fff;
}
.con{
  height: $full;
}
.main_view{
  height: $full;
}
.pt{padding-top: 1.34rem;}
.top_bar{
  position: fixed;
  top: 0.44rem;
  left: 0;
  width: $full;
  height: 0.9rem;
  display: flex;
}
.top_l_action{
  flex: 1;
  font-size: 0.4rem;
  line-height: 0.9rem;
  position: relative;
  a{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
.tab{
  padding: 0;
  margin: 0;
  list-style: none;
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.tab li{
  width: 1.2rem;
  text-decoration: none;
  align-items: center;
  justify-content: center
}
.tab li a{
  text-decoration: none;
  color: #eee;
  display: block;
}
.tab li a.router-link-exact-active.router-link-active .iconfont{
  color: #fff;
  font-size: 0.48rem;
}
.tab li a.router-link-exact-active.router-link-active .tab_icon{
  background-position: center bottom;
}
.tab .iconfont{
  display: block;
  margin: 0 auto;
  overflow: hidden;
  font-size: 0.40rem;
}
.hello{
  height: $full;
  width: $full;
}
.main{font-size: 0.24rem;height: 100%;overflow: auto;}
.list{margin: 0;padding: 0 0.2rem;list-style: none;}
.list li{position: relative;counter-reset: num;padding: 0.2rem 0;}
.list li a{display: table;width: 100%;table-layout: fixed}
.list li:after{
  @include bor;
}
.list li:last-child:after{content: normal;}
.list_col{display: table-cell;vertical-align: middle}
.list li .list_col:first-child{width: 1.92rem;}
.list_img{display: inline-block;width: 1.92rem;height: 1.92rem;position: relative;}
.list_img img{width: 100%;height: 100%;}
.list_song{padding: 0 0.2rem;width: 5.18rem;}
.list_song p{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size: 0.28rem;color: #fff;text-align: left;padding: 6px 0;}
.list_song p:before{content: counter(num);counter-increment: num;color: #fa6644;margin-right: 0.15rem;}
.plr40{
  padding: 0 0.4rem;
}
.singer_item{
  position: relative;
  padding:0.4rem 0;
  a{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  :after{
    @include bor;
  }
  .singer_img{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .singer_name{
    flex: 1;
    font-size: 0.36rem;
    color: #fff;
    padding-left: 0.2rem;
    text-align: left;
  }
}
.m_list{
  padding: 0 0.2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  li{
    width: 2.2rem;
    margin-bottom: 0.15rem;
    a{
      display: block;
      color: #fff;
    }
    p{
      height: 0.8rem;
      text-align: left;
      font-size: 0.24rem;
      line-height: 0.34rem;
      margin-top: 0.15rem;
    }
  }
  .m_list_img{
    height: 2.2rem;
    position: relative;
    img{
      width: 100%;
      height: 100%;
    }
    p{
      position: absolute;
      right: 0.2rem;
      top: 0;
      line-height: normal;
      height: auto;
      margin-top: 0;
    }
  }
}
.album_tit{
  font-size: 0.36rem;
  text-align: left;
  padding: 0.15rem 0.2rem;
  color: #ff2f8e;
  &:before{
    content: '';
    display: inline-block;
    vertical-align: text-top;
    width: 3px;
    height: 0.36rem;
    background: #ff2f8e;
    margin-right: 0.15rem;
    border-radius: 4px;
  }
}
.head{
  height: 1.24rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 0.84rem;
  text-align: center;
  font-size: 0.36rem;
  color: #fff;
  padding-top: 0.44rem;
  background: #73129a;
  z-index: 20;
}
.head_left{
  position: absolute;
  top: 0.44rem;
  left: 0;
  width: 1rem;
  height: 0.84rem;
}
.head_right{
  position: absolute;
  top: 0.44rem;
  right: 0;
  width: 1.28rem;
  height: 0.84rem;
  text-align: center;
  font-size: 0.28rem;
}

$height:1.2rem;
.radio{
  height: 100%;
  background: -webkit-radial-gradient(#7ef0ad, #34de7b);
  background: -o-radial-gradient(#7ef0ad, #34de7b);
  background: -moz-radial-gradient(#7ef0ad, #34de7b);
  background: radial-gradient(#7ef0ad, #34de7b);
  padding: 1.2rem 0 1.6rem;
}
.audio_top{
  height: $height;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -$height;
  .audio_top_back{
    flex: 1;
    height: 100%;
    line-height: $height;
    font-size: 0.38rem;
    color: #fff;
  }
  .audio_top_name{
    flex: 5;
    height: 100%;
    text-align:left;
    display:flex;
    justify-content: center;
    flex-direction: column;
    .audio_top_musicname{
      font-size: 0.32rem;
      color: #fff;
    }
    .audio_top_musicartist{
      font-size: 0.28rem;
      color: #fff;
    }
  }
  .audio_top_download{
    flex: 1;
    height: 100%;
    color: #fff;
    font-size: 0.42rem;
    line-height: $height;
  }
}
.audio_pic{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .audio_pic_img{
    height: $height*3;
    width: $height*3;
    border-radius: 50%;
    border: 2px solid #fff;
    overflow:hidden;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .audio_pic_lry{
    height: 4rem;
    width: 100%;
    overflow-y: auto;
    font-size: 0.28rem;
    line-height: 0.56rem;
  }
}
.audio_bar{
  height: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  span{
    flex: 1;
    font-size: 0.24rem;
  }
  p{
    flex: 5;
    height: 0.08rem;
    background: #fff;
    border-radius: 0.4rem;
    i{
      display: block;
      width: 0;
      background: #ccc;
      height: 100%;
      position: relative;
      border-radius:0.4rem;
      em{
        position: absolute;
        width: 0.20rem;
        height: 0.20rem;
        border-radius: 50%;
        background: #fff;
        right: -0.1rem;
        top: -0.06rem;
      }
    }
  }
}
.audio_btn{
  height: $height;
  display: flex;
  align-items: center;
  justify-content: center;
  span{
    width: 1.6rem;
    font-size: 0.6rem;
    color: #fff;
  }
  .icon-yinlebofang{
    font-weight: bold;
    :before{
      display: inline-block;
    }
  }

}
.music_on{
  animation: on 3s linear infinite;
}

@keyframes on {
  0{
    transform: rotate(0);
  }
  100%{
     transform: rotate(360deg);
  }
}




